page-home {

  ion-content {
    background-color: #222 !important;

    ion-list-header {
      background-color: #000000 !important;
      color: #faebd7 !important;

      button {
        margin: auto !important;
        display: block !important;
        padding: 10px !important;
        width: 20% !important;
      }
    }
  }


}
