<ion-header>
  <ion-navbar color="dark">
    <ion-title>{{state.track.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="progress-bar" class="music-bar-background">
    <div class="music-bar" [style.width]="(state.player.currentTime()/state.track.duration)*100 + '%'"></div>
  </div>
  <ion-item>
    <ion-avatar item-left>
      <img [src]="state.track.artwork_url">
    </ion-avatar>
    <div>
      <h2>{{state.track.title}}</h2>
      <p>{{state.track.user.username}}</p>
    </div>
    <ion-avatar item-right>
      <button right ion-fab color="primary" (click)="togglePlay()"><ion-icon [name]="state.isPlaying? 'pause': 'play'"></ion-icon></button>
    </ion-avatar>
  </ion-item>
</ion-content>
