<ion-header>
  <ion-navbar color="dark">
    <ion-title>{{state.track.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-avatar>
    <img [src]="state.track.artwork_url">
  </ion-avatar>

  <h2>{{state.track.title}}</h2>
  <p>{{state.track.user.username}}</p>

  <ion-range min="0" [max]="state.track.duration" (ionChange)="seek($event.value)" [ngModel]="state.player.currentTime()" color="primary"></ion-range>
  <span class="current">{{state.player.currentTime() | milliToTime}}</span>
  <span class="duration">{{state.track.duration | milliToTime}}</span>

  <div class="player-actions">
    <button ion-fab color="light" (click)="skipBackward()" [class.disabled]="!canSkipBackward()"><ion-icon name="skip-backward"></ion-icon></button>
    <button ion-fab color="primary" (click)="togglePlay()"><ion-icon [name]="state.isPlaying? 'pause': 'play'"></ion-icon></button>
    <button ion-fab color="light" (click)="skipForward()" [class.disabled]="!canSkipForward()"><ion-icon name="skip-forward"></ion-icon></button>
  </div>

</ion-content>
