track-list {
  ion-list {
    .shuffle {
      margin: auto !important;
      border-radius: 2em !important;
      width: 143px !important;
      height: 40px !important;
    }

  }
  .addSpace {
    margin-bottom: 60px !important;
  }
}
