music-player {

  //ion-fab[bottom] {
  //  bottom: 60px;
  //}

  ion-footer {
    bottom: 48px;
    border-top: 1px solid gray;

    ion-item {
      background-color: rgba(40,40,40,1) !important;
      color: white !important;

      div {
        width: 60%;
        margin-right: 0;
        display: inline-block;
        &.item-inner{
          border-bottom: 0 !important;
        }
      }

      ion-avatar {
        button {
          display: inline-block !important;
          height: 40px !important;
          width: 40px !important;
        }
      }
    }
  }
}
